.naslov{text-align: center;}
.container{
    width: 100%;
    height: 100%;
    background-size: auto;
    background-image: url(../../resource/Pet-Travel.jpg);

}

.mir{
    text-align: center;
    margin: auto;
}
.mirLabela{
    font-size: larger;
}
