  
<header>
    <div class="container">
        <mat-icon>account_circle</mat-icon>
        <nav>
            <ul>
                <li ><a href="#" onclick="return false;" routerLink="/neaktivniKorisnici" name="neaktivni">Izvestaj o neaktivnim korisnicima</a></li>
                <li ><a href="#" onclick="return false;" routerLink="/premiumKorisnici" name="premium" >Izvestaj o premium korisnicima</a></li>
                <li ><a href="#" onclick="return false;" (click) = "logOut()"  name="home">Log out</a></li>
                </ul>
        </nav>
    </div>
</header>